GATEWAY_PORT=3000
AUTH_PORT=3001
MEETUPS_PORT=3002
DB_PORT=3003

POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
DATABASE_URL="postgresql://postgres:password@postgres:5432/meetups?schema=public"

CRYPT_SALT=10
JWT_SECRET_KEY=secret123123
JWT_TOKEN_EXPIRES_IN=1h
REFRESH_SECRET_KEY=refresh123123
REFRESH_TOKEN_EXPIRES_IN=24h

RABBIT_PORT=5672
WEB_RABBIT_PORT=15672

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

ADMIN_LOGIN=admin123
ADMIN_PASSWORD=qwerty123

CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_KEY=your_cloudinary_key
CLOUDINARY_SECRET=your_cloudinary_secret